In [5]:
### TABLO BİÇİMİNDEKİ BİR VERİ DOSYASINI PANDAS DA NASIL OKURUM?

In [5]:
import pandas as pd

In [15]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [17]:
type(ufo)

pandas.core.frame.DataFrame

In [19]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [23]:
type(ufo['City'])

pandas.core.series.Series

In [43]:
'ab' + 'cd'

'abcd'

In [51]:
ufo['Locaion'] = ufo.City + ', ' + ufo.State

In [53]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Locaion
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"