In [2]:
### CSV DOYASINDAN SADECE İKİ SÜTUN OKUYUP DİĞERLERİNİ GÖRMEZDEN GELMEYE NE DERSİNİZ?

In [4]:
### CSV DOSYASINDAN OKUMANIN EN HIZLI YÖNTEMİ NEDİR?

In [6]:
import pandas as pd

In [8]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [10]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [14]:
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=[0, 4])
ufo.columns

Index(['City', 'Time'], dtype='object')

In [16]:
ufo = pd.read_csv('http://bit.ly/uforeports', nrows=3)
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [18]:
### VERİ ÇERÇEVELERİNİN VE SERİLERİN BİREYSEL GİRDİLERİ SEÇME VE YİNELEME AÇISINDAN NASIL ÇALIŞIR?

In [20]:
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [24]:
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

In [26]:
### VERİ ÇERÇEVESİNDEN SAYISAL OLMAYAN HER SÜTUNU KALDIRMANIN EN İYİ YOLU NEDİR?

In [30]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [32]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [36]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [38]:
### movies.describe(include=['something'] NEREDE KULLANILMALI VE NEREDE KULLANILMAMALI NEDEN TEK BİR DİZEDEN OLUŞAN 
### BİR LİSTE YERİNE BİR DİZE OLARAK KULLANMIYORUZ?

In [48]:
drinks.describe(include=['object'])

            country continent
count           193       193
unique          193         6
top     Afghanistan    Africa
freq              1        53